* {
    font-family: Helvetica, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-size: 70px;
}

.text-gold {
    color: rgba(206, 161, 62, 0.9)
}

h2 {
    font-size: 40px;
}

.recipe-title {
    color: rgba(132, 0, 0, 0.8)
}

.text-regular {
    font-size: 20px;
}

img {
    height: auto;
    width: 1815px;
}

.list-steps {
    background-color: beige;
}