/* This sheet follows ITCSS Architecture */

/* Settings */

/* Tools */

/* Generic */
* {
    font-family: Helvetica, Verdana, sans-serif;
}

/* Elements */
h1 {
    text-align: center;
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

a {
    text-decoration: none;
}

img {
    height: auto;
    width: 1815px;
}

/* Objects */
.recipe-title {
    color: rgba(132, 0, 0, 0.8)
}

.recipe-image {
    width: 100%;
    border-radius: 8px;
}

/* Components */
.text-gold {
    color: rgba(206, 161, 62, 0.9)
}

.text-regular {
    font-size: 20px;
}

.list-steps {
    background-color: beige;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-ingredients {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-headers {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none;
}